checkpoint3.txt
[{"id":"ad8ef5e8.6ff058","type":"inject","z":"fb08a0d3.6d248","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":197,"y":115,"wires":[["a927962d.ab0998"]]},{"id":"a927962d.ab0998","type":"function","z":"fb08a0d3.6d248","name":"Payload","func":"msg.headers={\n    deviceKey:\"KqsB1jnld0iqC0d1\"\n};\nmsg.payload=\"Temperature,,777.7\"\nmsg.payload=\"Humidity,,666.6\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["2a516955.620056"]]},{"id":"2a516955.620056","type":"http request","z":"fb08a0d3.6d248","name":"change","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DDj8owRg/datapoints.csv","tls":"","x":520,"y":180,"wires":[["3f4e2f11.9a5b","7461ec19.9ee254"]]},{"id":"3f4e2f11.9a5b","type":"http response","z":"fb08a0d3.6d248","name":"","statusCode":"","headers":{},"x":690,"y":180,"wires":[]},{"id":"7461ec19.9ee254","type":"debug","z":"fb08a0d3.6d248","name":"","active":true,"console":"false","complete":"false","x":682,"y":259,"wires":[]}]