flow1.txt
[{"id":"344f189c.d22968","type":"rpi-gpio out","z":"fb6ef81e.7e5618","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":100,"wires":[]},{"id":"684afa0d.41d114","type":"debug","z":"fb6ef81e.7e5618","name":"","active":true,"console":"false","complete":"payload","x":250,"y":240,"wires":[]},{"id":"fdffec45.195ef","type":"rpi-gpio in","z":"fb6ef81e.7e5618","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":120,"wires":[["247c3286.dff03e","684afa0d.41d114"]]},{"id":"247c3286.dff03e","type":"switch","z":"fb6ef81e.7e5618","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":250,"y":120,"wires":[["6ed1fbe4.ed0654"],["575f307.7b47ed"]]},{"id":"6ed1fbe4.ed0654","type":"change","z":"fb6ef81e.7e5618","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["344f189c.d22968"]]},{"id":"575f307.7b47ed","type":"change","z":"fb6ef81e.7e5618","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["344f189c.d22968"]]}]
