flow2.txt
[{"id":"efcb12d0.62e96","type":"inject","z":"92ba8bbf.b38f48","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":148,"y":95,"wires":[["4905a02f.07ad1"]]},{"id":"4905a02f.07ad1","type":"function","z":"92ba8bbf.b38f48","name":"Payload","func":"msg.headers={\n    deviceKey:\"KqsB1jnld0iqC0d1\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["aba01b91.909b98","ff4f90e7.2f013"]]},{"id":"aba01b91.909b98","type":"http request","z":"92ba8bbf.b38f48","name":"Temperature","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DDj8owRg/datachannels/Temperature/datapoints.csv","tls":"","x":490,"y":180,"wires":[["7ee30ad7.15a564","b41a9cec.b3ad6"]]},{"id":"7ee30ad7.15a564","type":"http response","z":"92ba8bbf.b38f48","name":"","statusCode":"","headers":{},"x":690,"y":180,"wires":[]},{"id":"b41a9cec.b3ad6","type":"debug","z":"92ba8bbf.b38f48","name":"","active":true,"console":"false","complete":"false","x":710,"y":240,"wires":[]},{"id":"ff4f90e7.2f013","type":"http request","z":"92ba8bbf.b38f48","name":"Humidity","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DDj8owRg/datachannels/Humidity/datapoints.csv","tls":"","x":459,"y":255,"wires":[["b41a9cec.b3ad6","7ee30ad7.15a564"]]}]
